@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

body {
    background-color: #292929;
    padding: auto;
    margin: auto;
}


.container {

    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;



}

#filho {
    background-color: white;
    display: flex;
    height: 350px;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    gap: 40px;
    flex-direction: column;
    border: solid rgb(214, 224, 237);
    border-radius: 4px;
    box-sizing: 2px;
    flex-wrap: wrap;
    padding: 10px 40px;
    box-shadow: 0 11px 20px rgba(255, 255, 255, 0.25);
}

.container h2 {
    font-size: 40px;
    font-family: "Nunito Sans", sans-serif;
    margin: 20px;
    margin-right: 15px;
}

.cepp {
    margin: 10px 0px;
    border-radius: 2px;
    width: 300px;
    height: 50px;
    border: solid rgb(230, 225, 225);
}

.cepp:hover {
    box-shadow: 0 11px 20px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.button {
    margin: 10px 0px;
    gap: 30px;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;

}

.button:hover {
    box-shadow: 0 11px 20px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    border-radius: 7px;
    height: 45px;
    width: 255px;
    font-weight: 500px;
    background-color: #191970;
    color: white;
}

#result {

    box-shadow: 0 11px 20px rgba(0, 0, 0, 0.25);
    margin: auto;
    width: 200px;
    justify-content: center;
    min-height: 200px;
    height: auto;
    display: flex;
    gap: 2px;
    flex-direction: column;
    padding: 16px;

}

.pu {
    font-family: "Nunito Sans", sans-serif;
}